VERSION_NAME=
VERSION_CODE=
ENCRYPTION_KEY_ID=
BASE_AGENT=
API_KEY_AGENT=
LACCHAIN_MEDIATOR=
LACCHAIN_PROVIDER=
LACCHAIN_RPC_URL=
LACCHAIN_NODE_ADDRESS=
LACCHAIN_DID_REGISTRY_ADDRESS=
LACCHAIN_RESOLVER=
RECIPIENT_DID_URL=