ENCRYPTION_KEY_ID=
ENCRYPTION_SQLITE_KEY=
BASE_AGENT=
API_KEY_AGENT=
LACCHAIN_MEDIATOR=
RECIPIENT_DID_ETHER=
KMS_LOCAL_KEY=
PROVIDER_ETHR_LAC=
PROVIDER_ETHR_LAC_NAME=
PROVIDER_ETHR_LAC_RPC_URL=
PROVIDER_ETHR_LAC_NODE_ADDRESS=
PROVIDER_ETHR_LAC_REGISTRY=
PROVIDER_LAC_OPENPROTEST=
PROVIDER_LAC_OPENPROTEST_NAME=
PROVIDER_LAC_OPENPROTEST_RPC_URL=
PROVIDER_LAC_OPENPROTEST_NODE_ADDRESS=
PROVIDER_LAC_OPENPROTEST_REGISTRY=
SEND_MESSAGE_TYPE=
MESSAGES_RECEIVED_MESSAGE_TYPE=
KEY_TO_DID_DOC=
DID_PACK=